<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>¡Bienvenido a ASP.NET Web API!</h1>
                <h2>Modifique el código de esta plantilla para poner en marcha la implementación de ASP.NET Web API.</h2>
            </hgroup>
            <p>
                ASP.NET Web API le permite exponer sus aplicaciones, datos y servicios en la
                Web directamente a través de HTTP.
            </p>
            <p>
                Para obtener más información sobre ASP.NET Web API, visite
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="Sitio web de ASP.NET Web API">http://asp.net/web-api</a>.
                La página incluye <mark>vídeos, cursos y ejemplos</mark> para ayudarle a sacar el máximo partido a ASP.NET Web API.
                Si tiene alguna pregunta relacionada con ASP.NET Web API, visite
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="Foro de ASP.NET Web API">nuestros foros</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Recomendamos los siguientes pasos:</h3>
        <ol class="round">
            <li class="one">
                <h5>Introducción</h5>
                ASP.NET Web API es un marco que facilita la creación de servicios HTTP disponibles
                para una amplia variedad de clientes, entre los que se incluyen exploradores y dispositivos móviles. ASP.NET Web API
                es la plataforma perfecta para crear aplicaciones RESTful en .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Más información…</a>
            </li>

            <li class="two">
                <h5>Agregar paquetes NuGet y poner en marcha su codificación</h5>
                NuGet facilita la instalación y actualización de herramientas y bibliotecas gratuitas.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Más información…</a>
            </li>
            <li class="three">
                <h5>Buscar hospedaje web</h5>
                Encuentre fácilmente empresas de alojamiento web que ofrezcan la mejor relación de características
                y precio para sus aplicaciones.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Más información…</a>
            </li>
        </ol>
    </section>
</div>
